*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* css main nav  */
.main_nav{
position: fixed;
top: 0;
left: 0;
width: 200px;
height: calc(100% - 70px);
background-color:black;
}
.main_nav_logo {
margin-left: 25px;
width: 150px;
height: 60px;
}

.main_nav_icon {
width: 175px;
margin-left: 25px;
height:100px;
}
.main_nav_icon i {
margin-top: 8%;
}
.main_nav_icon a {
color: lightgrey;
}
.crea_playlist i {
background-color: grey;
padding: 6px;
margin-top: 10px;
}
.crea_playlist span {
color: white;
font-family: 'Times New Roman', Times, serif;
margin-left: 5px;
}
.main_nav_icon span {
margin-left: 10px;
}
.main_nav_playlist {
width: 175px;
margin-left: 25px;
height:65%;
overflow-y:auto ;
}
.main_nav_playlist h3 {
color: lightgrey;
margin-top: 10px;
margin-bottom: 10px;
}
.main_nav_playlist ul li {
margin-top: 25px;
font-size: 0.7em;
}
.main_nav_playlist ul li a {
color: lightgrey;
}
/* fine sezione main nav */

/* sezione utente john doe css */
.jhon_doe {
position: fixed;
margin-left: 25px;
bottom: 70px;
width: 175px;
height: 45px;
}
.image {
float: left;
width: 30px;
height: 30px;
background-color: grey;
border-radius: 50%;
line-height: 45px;
}
.image img {
line-height: 45px;
height: 60%;
margin-left: 7px;
}
.hr {
margin-top: 50px;
width: 150px;
}
.jhon_doe span {
color: white;
margin-left: 10px;
line-height: 45px;
}
/* fine sezione utente john doe  */
.main_album {
height: 94vh;
width:calc(100% - 200px);
background-color: rgb(5, 5, 7);
margin-left: 200px;
}
/* sezione main album upgrade */
.upgrade {
margin-bottom: 5px;
 width: 100%;
 height: 40px;
 background-color: rgba(0, 0, 0, 0.8);

}
.upgrade ul li {
float: right;

}
.upgrade ul li a {
color: white;
text-decoration: none;
font-size: 0.9em;
margin-right: 20px;
line-height: 40px;
border: 1px solid white;
padding: 5px;
border-radius: 15px;


}
/* fine main menu upgrade */

/* inizio menu selection */
.menu_selection {
justify-content:center;
display: flex;

}
.menu_selection ul li {
float: left;
margin-left: 25px;
font-size: 0.7em;
letter-spacing: 2px;
}
.menu_selection ul li a:hover {
    border-bottom: 2px solid lime;
    color: white;
    }
/* fine menu selection */
/* inizio sezione copertine album */
.copertine_album {
margin-top: 1%;
}
.copertine_album h2 {
color: white;
margin-left: 60px;
margin-top: 20px;
margin-bottom: 10px;
}
.copertine_album h5 {
color: grey;
margin-left: 60px;

}
.box {
margin-left: 60px;
width: 130px;
float: left;
margin-top: 5px;
}
.box_img {
width: 100%;
height: 90px;
}
.box_img img {
width: 100%;
height: 100px;
}
.box h4 {
color: grey;
text-align:center;
margin-top: 10px;
font-weight: 800;
}
.box span {
margin-left: 40px;
color: grey;
}
/* fine sezione copertine album */


footer {
height: 70px;
width: 100%;
position: fixed;
bottom: 0;
left: 0;
right: 0;
background-color: rgb(24, 24, 26);
    }







/* sezione media */
@media screen and (max-height:525px){
.jhon_doe {
display: none;
}
}