* {
padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;
}
.container {
display: flex;
width: 100%;
height: 100vh;
background-color:#001222;
}
/* inizio menu left */
.menu_left {
display: flex;
flex-direction: column;
width: 170px;
height:calc(100% - 60px);
background-color: black;
}
/* logo menu left */
.logo_spotify {
margin-left: 10px;
width: 140px;
height: 50px;
}
#logo_piccolo {
width: 30px;
height: 30px;
}
/* fine menu left logo */
/* inizio sezione icon menu left */
.icon_menu_left {
width: 160px;
height:60px;
margin-left: 10px;
}
.box_icon {
margin-top: 10px;
width:100%;
height:18px;
margin-bottom: 5px;
}
.box_icon img {
height: 100%;
}
.box_icon a {
text-decoration: none;
font-weight: 400;
color: white;
margin-left: 5px;
}
/* fine icon menu left  */
/* sezione playlist menu left */
.menu_playlist {
margin-top: 40px;
width: 160px;
height: 250px;
margin-left: 10px;
}
.menu_playlist h5 {
  font-weight: 800;
  color: white;
}
.menu_playlist i {
color: white;
font-size: 22px;
}
.menu_playlist a {
text-decoration: none;
color: white;
font-weight: 400;
}
.plus {
margin-top: 10px;
}
.plus a {
font-size: 0.9em;
}

.menu_playlist {
overflow-y: auto;
height: 300px;
}
.list_playlist ul li{
margin-top: 15px;
font-size: 0.7em;
}
/* fine sezione playlist menu left */
/* sezione scarica app  */
.app {
margin-top:50px;
margin-left: 10px;
width:140px;
height:30px;
}
.app span {
font-size: 0.7em;
margin-left: 10px;
color: white;
padding-bottom: 5px;
}
.app i {
color: grey;
margin-top: 10px;
}
/* fine sezione scarica app */
/* sezione john doe */
.john_doe {
width: 170px;
height: 50px;
position: fixed;
bottom: 60px;
background-color: black;
}
.john_doe i {
color: white;
background-color: grey;
padding: 5px;
border-radius: 50%;
font-size: 0.8em;
}
.john_doe span {
color: white;
margin-left: 15px;
margin-top: 20px;
}
.user {
margin-top: 25px;
}
/* fine sezione john doe */

/* menu left fine  */

/* menu right */
.menu_right {
width:calc(100% - 150px);
height:calc(100% - 60px);
background-color:#001222;
}
.uppgrade {
width: 100%;
height: 40px;
background-color:rgba(0, 0, 0, 0.5);
}
.uppgrade a {
float:right;
color: white;
width: 150px;
font-weight:600;
padding-top: 1px;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 2px;
line-height: 20px;
margin-top: 10px;
height: 20px;
text-decoration: none;
border: 1px solid white;
font-size: 12px;
border-radius: 15px;
text-align: center;
}
/* menu nav  */
.preferiti {
margin-top: 10px;
flex-wrap: wrap;
display: flex;
flex-direction: row;
justify-content:center;
width: 100%;
}
.preferiti a {
color:#525252;
text-decoration: none;
font-weight: bold;
padding: 0 10px;
margin-top: 10px;
font-size: 0.7em;
}
.preferiti a:hover{
font-size: 0.6em;
border-bottom: 2px solid lime;
}
/* fine menu nav  */
/* fine menu right */
.recently h3{
color: white;
margin-left: 35px;
}
.recently span {
margin-left: 35px;
color: grey;
font-size: 0.9em;
}
.sezione_album_uno {
margin-top: 10px;
flex-wrap: wrap;
justify-content: flex-start;
display: flex;
flex-direction: row;
width: 100%;
}
.sezione_album_due {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-top: 10px;
justify-content:flex-start;
}
.sezione_album_due > .box {

}
.box {
margin-left: 3%;
height: 145px;
width: 140px;
}
.radio {
margin-top: 2%;
}
.radio img {
border-radius: 50%;
}
.recent {
margin-top:0.5%;
}

.box_img {
width: 100%;
height: 60px;
}
.box img {
width: 100%;
height: 120px;
}
.description {
text-align: center;
margin-top: 60px;
padding: 2px;
color: white;
font-weight: bold;
}

.footer {
position: fixed;
bottom: 0;
width: 100%;
height: 60px;
background-color: yellow;
}


.n {
display: none;
}
