@media screen and (max-height:430px) {
  .john_doe {
  display: none;
  }
}
@media screen and (max-width:712px) {
.preferiti a {
font-size: 0.6em;
}
}
@media screen and (max-width:768px) {
  .recently h3 {
  color: white;
  margin-left: 8px;
  font-size: 0.6em;
  }
  .box {
  margin-left: 3px;
  height: 100px;
  width: 60px;
  }
  .box_img {
  width: 60px;
  height: 30px;
  }
  .box img {
  width: 60px;
  height: 60px;
  }
  .description {
  margin-top: 30px;
  padding: 2px;
  color: white;
  font-size: 0.6em;
  font-weight: bold;
  }
  .recently {
  font-size: 0.7em;

  }
  .recently span {
  margin-left: 1px;
  }
}
@media screen and (min-width:426px) {
#logo_piccolo {
display: none;
}

}


@media screen and (max-width:425px) {
.icon_menu_left span {
visibility: hidden;
}
.menu_playlist {
visibility: hidden;
}
.app   hr {
visibility: hidden;
}
.app span {
visibility: hidden;
}
.john_doe span {
visibility: hidden;
}
.menu_left {
width: 50px;
}
#logo_grande {
visibility: hidden;
}
#logo_piccolo {
visibility: visible;
}
.menu_right {
width: 100%;
}
.john_doe {
width: 50px;
  ;
}
.john_doe i {
margin-left: 15px;
}
}
@media screen and (max-width:390px) {
  .preferiti a {
  font-size: 0.4em;
  }
}
